@model WasteDonation


<div class="card shadow border-0 mt-4 rounded">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Donation List</h2>

            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post" class="row">
            <div class="border p-3">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Date" disabled class="form-control border-0 shadow" />
                    <label asp-for=Date class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="BusinessName" class="form-control border-0 shadow" />
                    <label asp-for=BusinessName class="ms-2"></label>

                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactPerson" class="form-control border-0 shadow" />
                    <label asp-for=ContactPerson class="ms-2"></label>
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactNumber" class="form-control border-0 shadow" />
                    <label asp-for=ContactNumber class="ms-2"></label>
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.GlassBottlesWeight" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.GlassBottlesWeight class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.GlassBottlesWeight" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.GlassBottlesPrice" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.GlassBottlesPrice class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.GlassBottlesPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.MetalsWeight" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.MetalsWeight class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.MetalsWeight" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.MetalsPrice" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.MetalsPrice class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.MetalsPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PlasticWeight" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PlasticWeight class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.PlasticWeight" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PlasticPrice" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PlasticPrice class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.PlasticPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PaperWeight" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PaperWeight class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.PaperWeight" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PaperPrice" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PaperPrice class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.PaperPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.CardboardWeight" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.CardboardWeight class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.CardboardWeight" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.CardboardPrice" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.CardboardPrice class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.CardboardPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.AluminumCansWeight" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.AluminumCansWeight class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.AluminumCansWeight" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.AluminumCansPrice" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.AluminumCansPrice class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.AluminumCansPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.TotalSalePrice" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.TotalSalePrice class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.TotalSalePrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.Totalweight" class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.Totalweight class="ms-2"></label>
                    <span asp-validation-for="WeightAndPrice.Totalweight" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6  col-md-3">
                        <button asp-controller="Donation" asp-action="Create" class="btn btn-outline-primary form-control" type="submit">Create</button>
                    </div>
                    <div class="col-6  col-md-3">
                        <a asp-controller="Donation" asp-action="index" class="btn btn-outline-secondary form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
} *@
 