@model WasteDonation
<div class="card shadow border-0 rounded mt-4 ">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Donation</</h2>

            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3 mt-4">

                <div>
                    <input asp-for="Id" hidden class="form-control" />
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Date" disabled class="form-control border-0 shadow" />
                    <label asp-for=Date class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="BusinessName" disabled class="form-control border-0 shadow" />
                    <label asp-for=BusinessName class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactPerson" disabled class="form-control border-0 shadow" />
                    <label asp-for=ContactPerson class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactNumber" disabled class="form-control border-0 shadow" />
                    <label asp-for=ContactNumber class="ms-2"></label>

                </div>
                <div class="row">
                    <div class="col-6  col-md-3">
                        <button asp-controller="Donation" asp-action="Delete" class="btn btn-outline-primary form-control" type="submit">Delete</button>
                    </div>
                    <div class="col-6  col-md-3">
                        <a asp-controller="Donation" asp-action="index" class="btn btn-outline-secondary form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

                     