@model WasteBuying
<div class="card shadow border-0 rounded mt-4 ">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Detail Buyer</</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3 mt-4">

                <div>
                    <input asp-for="id" hidden class="form-control" />
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Date" disabled class="form-control border-0 shadow" />
                    <label asp-for=Date class="ms-2"></label>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <label asp-for=Name class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Surname" disabled class="form-control border-0 shadow" />
                    <label asp-for=Surname class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.GlassBottlesWeight" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.GlassBottlesWeight class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.GlassBottlesPrice" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.GlassBottlesPrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.MetalsWeight" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.MetalsWeight class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.MetalsPrice" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.MetalsPrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PlasticWeight" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PlasticWeight class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PlasticPrice" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PlasticPrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PaperWeight" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PaperWeight class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.PaperPrice" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.PaperPrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.CardboardWeight" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.CardboardWeight class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.CardboardPrice" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.CardboardPrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.AluminumCansWeight" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.AluminumCansWeight class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.AluminumCansPrice" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.AluminumCansPrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.TotalSalePrice" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.TotalSalePrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="WeightAndPrice.Totalweight" disabled class="form-control border-0 shadow" />
                    <label asp-for=WeightAndPrice.Totalweight class="ms-2"></label>
                </div>
                <div class="col-6  col-md-3">
                    <a asp-controller="Buying" asp-action="index" class="btn btn-outline-secondary form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
