

    <div class="text-center">
        <img src="/lib/A.png" class="text-center  w-25" alt="image">
    </div>
    <div class="text-center mt-3 mb-3">
        <a asp-controller="Home" asp-action="PersonalInformation" class="btn btn-outline-primary">+ Add waste option</a>
    </div>
<div class="text-center">
   
    <h1 class="display-4">Welcome Waste Management System</h1>

    <h2>Waste management system</h2>
    <p>
        Waste management system is the process of managing waste from its creation to its final disposal. It involves various activities, such as collection, transportation, processing, and disposal of waste in a safe and efficient manner. The primary goal of a waste management system is to minimize the negative impact of waste on human health and the environment.

        The composition of waste varies depending on several factors like location, population density or activity type. For example, household wastes typically include food scraps, paper products, plastics while industrial sites produce hazardous materials that require specialized handling.

        A well-designed and properly implemented waste management system provides numerous benefits such as reducing environmental pollution by mitigating greenhouse gas emissions from landfills; improving public health by preventing diseases spread through unsanitary conditions or toxic substances exposure.

        However, implementing an effective Waste Management System can be challenging due to lack of infrastructure in certain locations or insufficient funding for projects which inhibits progress towards more sustainable practices.

        Despite these challenges, it’s important to realize that small actions can make a big difference when it comes to tackling this global problem. Adopting simple habits like recycling at home or composting organic matter can have significant positive impacts both locally and globally

    </p>
    <h2>The benefits of waste management</h2>
    <p>
        Waste management is a crucial system that benefits not just the environment but also society and the economy. Proper waste management can bring about several benefits to our daily lives.

        First and foremost, effective waste management can help reduce pollution levels in the air, water, and soil. When waste is disposed of improperly, it can cause harm to both human health as well as the environment around us. By properly managing our waste through recycling or proper disposal methods such as landfills, we ensure that harmful substances do not seep into our surroundings.

        Furthermore, implementing an efficient waste management system promotes resource conservation by reducing the amount of material necessary for production processes. Recycling materials such as plastic and paper helps save energy and raw materials needed for manufacturing new products.

        Properly disposing of hazardous wastes like batteries, electronics or chemicals reduces risks associated with exposure to toxic substances that could lead to serious illnesses.

        Investing in a sustainable waste management system creates job opportunities within local communities while fostering economic growth. This results from increased demand for recycled goods which stimulates market activity leading to more investments.

        Adopting sustainable practices toward managing solid wastes brings multiple benefits ranging from environmental protection to economic development making it essential for us all today!
    </p>
</div>